# Environments
nougat_env/
venv/
env/
__pycache__/
*.pyc

# IDEs / Editors
.vscode/
.idea/

# Logs
*.log

# Large Output Folders (Optional, un-comment if you want to exclude them)
# output/
# data/

# Nested Repositories (Ignore the detailed pages repo)
# output_pdfplumber/

# Node Modules
node_modules/
package-lock.json

# System
.DS_Store
Thumbs.db
Desktop.ini
