

# --- Project Specifics ---*.md
*.ini
*.py
*.json
*.ini
*.log
*.tmp

# --- Windows System Files ---
[Dd]esktop.ini
desktop.ini
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
[Tt]humbs.db

# --- macOS System Files ---
.DS_Store
.AppleDouble
.LSOverride




# --- Folders and Previews ---
contentforwiki/
java_lecture1_reference.html
index-preview.html
year1-preview.html

#folders
cshub/

#files
desktop.ini
Thumbs.db
java_lecture1_reference.html

contentforwiki/
index-preview.html  
year1-preview.html 

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
